#wrapper
{
    height:auto;
    width:1000px;
    min-height: 1000px;
    margin: 0 auto;
}
#header
{
    width:1000px;
    height:150px;
}


#menu
{
    width:1000px;
    height:50px;
    background-color:#555;
}
#main
{
    width:1000px;
    height:auto;
    min-height:700px;
    background-color:#009999;
}
#footer
{
    width:1000px;
    height:100px;
    background-color:#ccccff;
}
#rfooter
{
    width:500px;
    height:80px;
    float:left;
    background-color: black;
    text-align: center;
    font-size: 30px;
   font-family: sans-serif;
   padding-top:20px;
   color:white;
}

#lfooter
{
    width:500px;
    height:80px;
    float:left;
    background-color: black;
    text-align: center;
    font-size: 30px;
   font-family: sans-serif;
   padding-top:25px;
   color:white;
}
